.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  padding: 1rem;
  margin: 1.5rem 1.2rem;
  cursor: pointer;
  background-color: #7fffd4;
  border-radius: 1rem;
  border: 2px solid black;
  font-weight: bold;
}
li {
  list-style: none;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px;
  background-color: #878f99;
}

body {
  margin: auto 30%;
}
h1 {
  color: red;
}
h3 {
  color: yellowgreen;
}
body {
  background-image: url(https://images.unsplash.com/photo-1583558952124-8a5c7f29ab35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MzZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}
